
h1, h2 { color: #333333; font-family: Impact, Charcoal, sans-serif;
  font-size: 45px; font-weight: 200;
  line-height: 44px; margin: 0 0 12px; text-align: center; }


p { color: #000000; font-family: Impact, Charcoal, sans-serif;
  font-size: 25px; font-weight: 400;
  line-height: 24px; margin: 0 0 14px; text-align: center;; }


a { color: #b48608; text-decoration: none;
  border-bottom: 1px solid #4c3a07; }


a:hover { color: #fff; background: #b48608; }

.col-lg {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;

}
.carousel-item{
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
/*
.carousel-inner{
  width: 700px;
  height: 300px;

} */

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;  /* <--- Really freaking cool! */
  align-items: center;

}

.photo-grid-review {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;  /* <--- Really freaking cool! */
  align-items: center;

}

.photo-grid-item {
  border: 1px solid #fff;
  width: 500px;
  height: 200px;
}

.photo-grid-item-reviews {
  border: 1px solid #fff;
  width: px;
  height: 200px;
}

.photo-grid-item-about {
  border: 1px solid #fff;
  width: 400px;
  height: 400px;
}

.logo-links{
  width: 50px;
  height: 20px;

}


img {
  width: 100%;
}

.footer {
  display: flex;
  align-items:center;
  justify-content:center;

}


.date { border-top: 1px solid #fff;
  position: relative; top: 20px; margin-bottom: 30px; }


.date span { color: #000; text-decoration: none;
  font-style: italic; font-size: 13px; text-align: center;
  padding: 2px 5px; background: #fff; width: 120px;
  margin: 0 auto; display: block; position: relative;
  top: -10px; font-family: "Droid serif", serif; }
